.display {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-bottom: 3em;
  padding-top: 3em;
  justify-content: center;
}

.video {
  opacity: 90%;
}

.user {
  text-align: center;
}

#feedbackHeader {
  color: antiquewhite;
}