#feedbackTable {
  width: 50%;
  margin-right: 25%;
  margin-left: 25%;
  margin-top: 50px;
  margin-bottom: 50px;
  font-family: sans-serif;
  font-size: 18px;
  font-weight: 500;
  background-color: #fff;
  opacity: 75%;
}

td,
th {
  margin: 0.5em;
  padding: 0.5em;
}

td:nth-child(2),
td:nth-child(3),
td:nth-child(4),
td:nth-child(6) {
  text-align: center;
}

th:first-child {
  border-top-left-radius: 15px;
}
th:last-child {
  border-top-right-radius: 15px;
}