.display {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding-top: 2em;
  padding-bottom: 2em;
}

.paper {
    text-align: center;
    align-items: center;
}